/*
	Name: Base Stylesheet
	Description: Sitio oficial de Sociedad Uruguaya de Psicología del deporte (supde) Asociación Civil
	Author: Ignacio Lopez Juani
	Author URI: www.lopezjuani.com
*/

/* Imports */
@import url("html5-reset.css");
@import url(http://fonts.googleapis.com/css?family=Belgrano);

/* Global ************************************************/
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5em;
}

.main-container {
  width: 85%;
  margin: 0 auto;
}

.main-header {
  float: left;
  display: inline;
  margin-top: 30px;
  font-size: 22px;
}


nav ul li {
  list-style-type: none;
  display: inline;
}

nav ul li a {
  text-shadow: 1px 1px 1px #CACAD9;
  color: #121212;
  font: 1em "Helvetica, Arial" sans-serif;
  padding-left: 25px;
}
nav ul.menu {
  float: right;
  margin: 30px 10px;
}

/*
  LEVEL ONE
*/
ul.dropdown                         { position: relative; }
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #fff; }
ul.dropdown a:hover               { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; color: #222; }
ul.dropdown li:last-child a         { border-right: none; }
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #C0C9FF; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/*
  LEVEL TWO
  */
  ul.dropdown ul            { width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
  ul.dropdown ul li           { font-weight: normal; background: #fff; color: #000; float: none; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
  border-right: none;
  width: 100%;
  display: inline-block;
  background-color: #FFF;
  box-sizing: border-box;
}
ul.dropdown ul li a:hover {
  background-color: #E9E9E9;
}

ul.dropdown ul {
  border: 1px solid rgba( 0, 0, 0, 0.3);
  -webkit-box-shadow:  1px 5px 30px 5px rgba(0, 0, 0, 0.2);
  box-shadow:  1px 5px 30px 5px rgba(0, 0, 0, 0.2);
}

/* nivo slider */

.nivoSlider {
    position:relative;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

/* Section Specific ************************************************/

/*Home*/
body.home {

}

/* About */
body.about {
}

/* activities */

body.activities {

}

/* afiliate */
body.afiliate {

}

/* Contact */
body.contact {

}

.contacto {
  width: 500px;
}

.contacto .titulo-pagina {
  margin: 0 0 20px 0;
}
.contacto h2 {
  margin-bottom: 20px;
}
.contacto p {
  margin-bottom: 20px;
  line-height: 20px;
}
.contacto form {
  margin: 0 auto;
  width: 260px;
}
.contacto label {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: block;
  padding-bottom: 15px;
}
.contacto .campo {
  width: 254px;
  height: 30px;
  margin-bottom: 20px;
  border: 1px Solid  #006CC9;
  padding: 2px;
  color: #000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow: auto;
}
.contacto .campomensaje {width: 254px;
  height: 200px;
  margin-bottom: 20px;
  border: 1px Solid #006CC9;
  padding: 2px;
  color: #000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow: auto;
}
.contacto #comentario {
  width: 254px;
  height: 193px;
}
.contacto input#boton_enviar {
  color: #006CC9;
  padding: 10px;
}

#boton_enviar{ margin-left: 100px;

}
.center {
  text-align: center;
  line-height: 2em;
}

/* gallery */
body.gallery {

}


/* links */
body.links {

}
/* virtual-class-room */
body.virtual-class-room {
}


