<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!-- Chrome Frame -->
    <title>{{ page.title }} - Petranova Marmoles y Granitos</title>
    <meta name="application-name" content="Petranova Marmoles y Granitos">
    <meta name="description" content="Sitio oficial de Petranova Marmoles y Granitos">
    <meta name="author" content="Ignacio Lopez Juani">
    <link rel="shortcut icon" href="media/images/favicon.ico">>
    <link rel="stylesheet" href="media/css/base.css" />
    <script src="media/js/jquery-1.3.1.min.js"></script>
    <script src="media/js/jquery.dropdownPlain.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="media/js/jquery-ui-1.8.13.custom.min.js"></script>
    <script src="media/js/functions.js"></script>
    <script src="media/js/modernizr-1.7.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="media/js/galleria-1.2.9.min.js"></script>
</head>

<body class="{{ page.body_class }}">
    <div class="container">
        <header>
            <nav>
                <h1 class="main-header">Petranova Marmoles y Granitos</h1>
                <a href="/supde/"><img class="logo" alt="logo" src="media/images/logo_supde.jpg"></a>
                <ul class="dropdown menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a><li>
            <li><a href="/supde/activities">Materiales</a>
                <ul class="sub_menu">
                     <li><a href="#">Marmol</a></li>
                     <li><a href="#">Granito</a></li>
                </ul>
            </li>
            <li><a href="#">Productos</a>
                <ul class="sub_menu">
                     <li><a href="#">Mesadas de Cocina</a></li>
                     <li><a href="#">Mesadas de Baño</a></li>
                     <li><a href="#">Bachas y Piletas</a></li>
                     <li><a href="#">Guardas</a></li>
                     <li><a href="#">Artesanías</a></li>
                </ul>
            </li>
            <li><a href="#">Proyectos</a>
                    <ul class="sub_menu">
                         <li><a href="#">Mesadas de Cocina 01-02-03</a></li>
                         <li><a href="#">Mesadas de Baño 01-02-03</a></li>
                         <li><a href="#">Bacha y Pileta 01-02-03</a></li>
                         <li><a href="#">Guarda 01-02-03</a></li>
                         <li><a href="#">Artesanía 01-02-03</a></li>
                    </ul>
            </li>
            <li><a href="#">Contacto</a></li>
        </ul>
            </nav>
        </header>

        <div class="main-container">
            {{ content }}
        </div>

    </div>
    <footer class="main-footer">
        <div class="container">
            <a href="http://www.facebook.com" target="_blank"><img class="social_btn" src="media/images/fb_btn.png"></a>
            <a href="http://www.twitter.com" target="_blank"><img class="social_btn" src="media/images/tw_btn.png"></a>
            <h2 class="info_foot">  Petranova Marmoles y Granitos Calle Falsa 1234 Tel: 098765432 </h2>
            <p class="info_foot">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec leo et sapien tempor congue. Phasellus pulvinar laoreet egestas. Praesent et odio ligula, ut porta nisi. Ut a enim eros. Vivamus laoreet tincidunt mollis. Integer in eros nisl. Morbi rutrum felis sed nunc lacinia rutrum. Aenean ipsum metus, iaculis sit amet egestas id, dignissim eu nibh. Maecenas ornare purus congue felis aliquam ac elementum turpis convallis. Curabitur dapibus luctus ornare. Cras quis hendrerit est. Petranova Marmoles y Granitos Calle Falsa 1234 Tel: 098765432</p>
            <address class="vcard author">
                Sitio creado por: <a class="url fn" href="http://www.lopezjuani.com" target="_blank">Ignacio López Juaní</a>
            </address>
        <div>
    </footer>

</body>
</html>
